@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-cover bg-center;
    background: linear-gradient(rgba(17, 5, 25, 0.778), rgba(24, 8, 37, 0.745)),
      url("./assets/benjamin-voros-phIFdC6lA4E-unsplash.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: top;
  }
}
